# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
backend/venv/

# SQLite
*.db
backend/db/*.db

# IDE
.vscode/
.idea/

# ffmpeg
ffmpeg/

#winscp
winscp/

# rdp file
rdp_monitor/record
rdp_monitor/logs
rdp_monitor/pids


#ssh key
/ssh-keys
